/* Services */
.services-section {
  margin-bottom: 20rem;
}
@media (max-width: 600px) {
  .services-section {
    margin-bottom: 10rem;
  }
}
.services-section .services-header {
  margin-bottom: 5.8rem;
}
.services-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services-card {
  background: #2b2b2b;
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  width: 35.7rem;
  min-height: 30rem;
  max-width: 100%;
  padding: 1.6rem 4.3rem 2.2rem 3.5rem;
  position: relative;
  margin-bottom: 2.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.services-card:hover {
  background: #0fb;
}
.services-card:hover h5,
.services-card:hover p {
  color: #303030;
}
@media (max-width: 500px) {
  .services-card {
    padding: 1.6rem 1.3rem 2rem 2.1rem;
  }
}
.services-card.last-of-type {
  margin-bottom: 0;
}
.services-card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0.8rem 0.8rem;
}
.services-card.interface:after {
  background: #00aeff;
}
.services-card.development:after {
  background: #e31f71;
}
.services-card.marketing:after {
  background: #8838b4;
}
.services-card.backend:after {
  background: #29d329;
}
.services-card div {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.7rem;
  border-radius: 50%;
}
.services-card.interface div {
  background: rgba(0, 174, 255, 0.2);
}
.services-card.development div {
  background: rgba(227, 31, 113, 0.2);
}
.services-card.marketing div {
  background: rgba(136, 56, 180, 0.2);
}
.services-card.backend div {
  background: rgba(136, 56, 180, 0.2);
}
.services-card h5 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-bottom: 1.6rem;
}
.services-card h5,
.services-card p {
  font-family: SF Pro Display, sans-serif;
  font-style: normal;
  color: #fff;
}
.services-card p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
