/* Workflow */
.workflow-section {
  margin-bottom: 20rem;
}
@media (max-width: 600px) {
  .workflow-section {
    margin-bottom: 10rem;
  }
}
.workflow-section .workflow-header h3 {
  margin-bottom: 5.4rem;
}
.workflow-section .cards-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 121.1rem;
  margin: 0 auto;
}
.workflow-section .cards-wrapper .card {
  width: 20rem;
  height: 22rem;
  border-radius: 0.8rem;
  background: #2b2b2b;
  padding: 3.8rem 2rem 2.2rem;
  box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2.4rem;
  cursor: pointer;
}
.workflow-section .cards-wrapper .card:last-of-type {
  margin-bottom: 2.4rem;
  padding: 3.8rem 0.7rem 2.6rem 2.6rem;
}
.workflow-section .cards-wrapper .card:hover {
  background: #0fb;
}
.workflow-section .cards-wrapper .card:hover h6,
.workflow-section .cards-wrapper .card:hover p {
  color: #303030;
}
.workflow-section .cards-wrapper .card svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 1.8rem;
}
.workflow-section .cards-wrapper .card h6 {
  font-family: SF Pro Display, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
  margin-bottom: 0.8rem;
}
.workflow-section .cards-wrapper .card p {
  font-family: SF Pro Display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
}
