.navbar-light .container {
  vertical-align: middle;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(38, 228, 124);
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: larger;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-item {
  margin-right: 2rem;
}

/* Header */
.header-section{
  height: 110px;
}
.header {
  flex-direction: column;
}
.header,
.header .inner > div {
  display: flex;
  align-items: center;
}
.header .inner span:first-of-type {
  font-family: SF Pro Display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.9rem;
  color: #0fb;
  margin-right: 7px;
}
.header .inner .line {
  display: inline-block;
  width: 5rem;
  height: 0.3rem;
  background: #0fb;
}
.header .inner h3 {
  font-family: SF Pro Display, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #fff;
  margin-top: 1.6rem;
}

header {
  background: #21212125;
}
@media (max-width: 560px) {
}
.main-nav {
  width: 100%;
}
.navbar {
  padding: 1.5rem 1rem;
  position: relative;
  z-index: 900;
}
.navbar .navbar-toggler {
  box-shadow: none;
  outline: none;
  border: none;
}

@media (min-width: 768px) {
  .navbar.stuck {
    background: rgba(33, 33, 33, 0.24);
  }
}
@media (max-width: 500px) {
  .navbar.stuck .navbar-brand img {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  font-family: Red Hat Display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-right: 3.5rem;
}
.nav-item:last-of-type {
  margin-right: 0;
  background: #0fb;
  padding: 1.4rem 4.6rem;
  box-shadow: 0 16px 16px rgba(51, 51, 51, 0.25);
  border-radius: 30px;
}
.nav-item .nav-link {
  color: #fff;
}
.nav-item .nav-link.active {
  color: #0ff;
  font-weight: 700;
}
.nav-item .nav-link.case-studies {
  color: #303030;
}

/* Mobile Nav */
.mobile-nav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background: #262626;
  top: 0;
  left: 0;
  padding: 0;
  width: 0;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.3rem;
  display: none;
}
.mobile-nav .top img {
  cursor: pointer;
}
.mobile-nav .links {
  text-align: center;
}
.mobile-nav .links .nav-item {
  font-family: Red Hat Display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 3rem;
  display: none;
}
.mobile-nav .links .nav-item.active .nav-link {
  color: #0ff;
}
.mobile-nav .links .nav-link {
  color: #fff;
}
.mobile-nav .mobile-nav.open {
  width: 100vw;
  padding: 4.6rem 3.7rem 5rem;
}
.mobile-nav .mobile-nav.open .nav-item,
.mobile-nav .mobile-nav.open .top {
  display: block;
}
.mobile-nav .nav-bar {
  position: fixed;
  background-color: #262626;
  top: 0;
  z-index: 1000;
  right: 100%;
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}
.mobile-nav .nav-list {
  list-style: none;
  margin-top: 3rem;
}
.mobile-nav .nav-list-item {
  text-align: center;
  padding: 10px 0;
  font-family: Red Hat Display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #fff;
}
.mobile-nav .nav-list-item:last-of-type {
  background: #0fb;
  box-shadow: 0 1.6rem 1.6rem rgba(51, 51, 51, 0.25);
  border-radius: 3rem;
  padding: 1.4rem 4rem;
}
.mobile-nav .nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
}
.mobile-nav .nav-link.case-studies {
  color: #303030;
}
.mobile-nav .nav-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}
.mobile-nav .nav-link:hover:before {
  transform: scaleX(1);
}
.toggle {
  left: 0;
}
.toggle-menu {
  top: 6.2rem;
  right: 20px;
  width: 3rem;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.line {
  width: 100%;
  height: 0.188rem;
  border-radius: 5px;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}
.line,
.toggle .line1 {
  background-color: #0fb;
}
.toggle .line1 {
  transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  background-color: #0fb;
  transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}
