body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at 10px 10px,#6d6de5,#b3b3e5,#5f5fe8);
  color: #fff;
  font-family: Baloo Thambi\ 2,Arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
.ml-auto{
  margin-left: auto;
}
